body {
  align-items: center;
  font-family:'Open Sans', sans-serif;
  padding:0;
}
.colored-section {
  color: #FFFFFF;
  padding: 10% 5% 10%;
}
.uncolored-section, .nav-link {
  color: hsl(243, 87%, 12%);
  padding: 5% 5% 10%;
}
h1 {
  font-family:'Raleway', sans-serif;
  font-weight: 700;
  font-size: 200%;
  line-height: 2.5rem;
}
h2 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5rem;

}
h3 {
  font-weight: 400;
  font-size: 0.8rem;
}
h4 {
  font-weight: 700;
  font-size: 0.75rem;
}
p {
  font-weight: 400;
  font-size: 0.5rem;
}
#features .row, #team .row {
  flex-direction: row-reverse;
}
/* Section 1 */
/* Navbar */
.navbar{
  padding-bottom: 5%;
}
.navbar-brand img{
  width: 7.5rem;
}
.nav-item {
  padding: 0 0.5rem;
}

/* Features */
.row{
  align-items: center;
}
.email{
  color:hsl(0, 0%, 75%);
  padding: 2% 20% 2% 2%;
  margin: 15px 15px 0 0;
}
.btn {
  font-family:'Raleway', sans-serif;
  padding: 2% 10%;
}
.features-img {
  width: 90%;
}
/* Section 2 */
#team {
  background-color: hsl(240, 75%, 98%);
}
.bg-curve-desktop-img {
  width: 100%;
}
.bg-curve-mobile-img {
  display: none;
}
span {
  border-bottom: 1px solid hsl(170, 45%, 43%);
  color: hsl(170, 45%, 43%);
  display: inline;
  font-family: Raleway;
  font-weight: 400;
  padding-bottom: 5px;
}
.testimonial {
  background-color: #FFFFFF;
  border-radius: 5%;
  box-shadow: 0 2px 10px 1px hsl(0, 0%, 75%);
  line-height: 1.5rem;
  margin-top: 5%;
  padding: 3%;
  width: 60%;
}
.testimonial h3{
  line-height: 1.5rem;
}
.icon-quotes {
  margin-bottom: 1rem;
}
.avatar-testimonial{
  border-radius: 100%;
  float: left;
  width: 15%;
  margin-right: 10px;
}
.team-img {
  width: 90%;
}

/* Section 3 */
#cta {
  background-color: hsl(238, 22%, 44%);
  margin: 0;
}
#cta :first-child {
  padding-right: 3%;
}
#cta .email{
color:hsl(0, 0%, 75%);
padding: 2% 50% 2% 2%;
margin-bottom: 15px;
}

/* Section 4 */
#contact {
  background-color: hsl(243, 87%, 12%);
}
#contact .row {
  align-items: flex-start;
}
#contact .row h2{
  display:inline-block;
}
.col-md-3 {
  justify-content: center;
  line-height: 3rem;
}
.icon-phone, .icon-email {
  margin-right: 1.5rem;
}
.col-md-3:not(:first-child) h2, .col-md-3:not(:first-child) i:first-child {
  margin-left: 10rem;
}
i {
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  padding: 0.5rem;
  text-decoration: none;
}


@media (max-width: 1128px) {
  .navbar-brand img{
    width: 20vw;
  }
  .nav-item {
    font-size: 2vw;
  }
  .bg-curve-desktop-img {
    display: none;
  }
  .bg-curve-mobile-img {
    display: initial;
    width: 100%;
  }
  #features .col-md-6 {
    text-align: center;
  }
  #features .btn, .email {
    width: 100%;
  }
  #cta .btn,#cta .email {
    width: 80%;
    margin-right: 0;
  }
  .email {
    margin-bottom: 15px;
  }
  #cta {
    text-align: center;
  }
  #team h1, #cta h1 {
    font-size: 5vw;
  }
  .testimonial {
    margin: 5% auto 0;
    width: 80%;
  }
  .logo-white, .col-md-3 {
    margin: 5%;
  }
  .col-md-3:last-child {
    text-align: center;
  }
  .col-md-3:not(:first-child) h2, .col-md-3:not(:first-child) i:first-child {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  span {
    margin-left: 25%;
  }
}

@media (max-width: 576px) {
  .nav-item {
    font-size: 3vw;
  }
}
